<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/indexCss")
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon.png" />
</head>

<body>
    
        <!-- Top content -->
        <div class="top-content">
            <div class="container">

                <!-- intro info -->
                @RenderBody()
            </div>
        </div>
    
    @Scripts.Render("~/bundles/indexScript")
    @RenderSection("scripts", required: false)
</body>

</html>