@using GamexEntity.Constant
@using GamexWeb.Utilities
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon.png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/adminCss")
    @RenderSection("customCss", required: false)
    @RenderSection("ckeditor", required: false)
    <!--If required set to true, will throw error on any site use this layout but does not
    have section implemented-->
</head>

<body class="fixed-nav sticky-footer bg-light" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">

        <a class="navbar-brand" href="">
            <img src="~/Content/img/icons/logo1.png" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item">
                    <a class="nav-link nav-welcome" href="">
                        <span class="nav-link-text">Welcome @User.Identity.GetFullName()</span>
                    </a>
                </li>

                @if (User.IsInRole(AccountRole.Admin))
                {
                    <!--Profile-->
                    <li class="nav-item @ViewBag.Profile">
                        <a class="nav-link" href="@Url.Action("AccountInfo", "Account")">
                            <i class="menu-icon fas fa-info-circle fa-fw"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>
                    <!--End of Profile-->

                    <!--Manage Company-->
                    <li class="nav-item @ViewBag.ManageCompany">
                        <a class="nav-link" href="#" data-target="#navbarDropdownMenuCompany" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fas fa-building fa-fw"></i>
                            <span class="arrow">Company</span>
                        </a>
                    </li>
                    <ul class="sidenav-second-level collapse @ViewBag.ManageCompanyDropDownShow" id="navbarDropdownMenuCompany">
                        <li class="@ViewBag.CompanyRequest">
                            @Html.ActionLink("Join request", "CompanyRequest", "Admin")
                        </li>
                        <li class="@ViewBag.CompanyList">
                            @Html.ActionLink("Company List", "CompanyList", "Admin")
                        </li>
                    </ul>
                    <!--End of Manage Company-->

                    <!--Mange User-->
                    <li class="nav-item @ViewBag.ManageUser">
                        <a class="nav-link" href="#" data-target="#navbarDropdownMenuUser" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fas fa-users fa-fw"></i>
                            <span class="arrow">User</span>
                        </a>
                    </li>
                    <ul class="sidenav-second-level collapse @ViewBag.ManageUserDropDownShow" id="navbarDropdownMenuUser">
                        <li class="@ViewBag.OrganizerList">
                            @Html.ActionLink("Organizer", "OrganizerList", "Admin")
                        </li>
                        <li class="@ViewBag.AttendeeList">
                            @Html.ActionLink("Attendee", "", "Admin")
                        </li>
                    </ul>
                    <!--End of Mange User-->
                }

                @if (User.IsInRole(AccountRole.Company))
                {
                    <li class="nav-item @ViewBag.Profile">
                        <a class="nav-link" href="@Url.Action("AccountInfo", "Account")">
                            <i class="menu-icon fas fa-info-circle fa-fw"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item @ViewBag.ManagerUser">
                        <a class="nav-link" href="#">
                            <i class="menu-icon fas fa-user fa-fw"></i>
                            <span class="nav-link-text">Employee</span>
                        </a>
                    </li>

                    <!--Manage Exhibition-->
                    <li class="nav-item @ViewBag.Exhibition">
                        <a class="nav-link" href="#" data-target="#navbarDropdownMenuViewExhibition" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa-fw fas fa-calendar-alt"></i>
                            <span class="arrow">Exhibition</span>
                        </a>
                    </li>
                    <ul class="sidenav-second-level collapse @ViewBag.ViewExhibitionDropDownShow" id="navbarDropdownMenuViewExhibition">
                        <li class="@ViewBag.JoinExhibition">
                            @Html.ActionLink("Join Exhibition", "NewExhibition", "Company")
                        </li>
                        <li class="@ViewBag.UpcomingExhibition">
                            @Html.ActionLink("Upcoming Exhibition", "UpcomingExhibition", "Company")
                        </li>
                    </ul>
                    <!--End of Manage Exhibition-->
                }

                @if (User.IsInRole(AccountRole.Organizer))
                {
                    <li class="nav-item @ViewBag.Profile">
                        <a class="nav-link" href="@Url.Action("AccountInfo", "Account")">
                            <i class="menu-icon fas fa-info-circle fa-fw"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>

                    <!--Manage Exhibition-->
                    <li class="nav-item @ViewBag.ManageExhibition">
                        <a class="nav-link" href="#" data-target="#navbarDropdownMenuExhibition" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa-fw fas fa-calendar-alt"></i>
                            <span class="arrow">Exhibition</span>
                        </a>
                    </li>
                    <ul class="sidenav-second-level collapse @ViewBag.ManageExhibitionDropDownShow" id="navbarDropdownMenuExhibition">
                        <li class="@ViewBag.CreateExhibition">
                            @Html.ActionLink("Create Exhibition", "CreateExhibition", "Organizer")
                        </li>
                        <li class="@ViewBag.AttendeeList">
                            @Html.ActionLink("Upcoming Exhibition", "UpcomingExhibition", "Organizer")
                        </li>
                    </ul>
                    <!--End of Manage Exhibition-->
                }


                @* <li class="nav-item  @ViewBag.Account" data-toggle="tooltip" data-placement="right" title="Manage Users"> *@
                @*     <a class="nav-link" href="@Url.Action("ManageAccount", "Admin")"> *@
                @*         <i class="fa fa-fw fa-users "></i> *@
                @*         <span class="nav-link-text">Manage Users</span> *@
                @*     </a> *@
                @* </li> *@
                @* <li class="nav-item  @ViewBag.Order" data-toggle="tooltip" data-placement="right" title="Manage Orders"> *@
                @*     <a class="nav-link" href="@Url.Action("ManageOrder", "Admin")"> *@
                @*         <i class="fa fa-fw fa-copy"></i> *@
                @*         <span class="nav-link-text">Manage Orders</span> *@
                @*     </a> *@
                @* </li> *@
                @* <li class="nav-item  @ViewBag.Watch" data-toggle="tooltip" data-placement="right" title="Manage Watches"> *@
                @*     <a class="nav-link" href="@Url.Action("ManageWatch", "Admin")"> *@
                @*         <i class="fa fa-fw fa-cubes"></i> *@
                @*         <span class="nav-link-text">Manage Watches</span> *@
                @*     </a> *@
                @* </li> *@
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                        <i class="menu-icon fas fa-sign-out-alt fa-fw"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        @RenderBody()


        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Gamex 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        @using (@Html.BeginForm("Logout", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" type="submit">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        }


        @Scripts.Render("~/bundles/adminScript")
        @RenderSection("mapapi", required: false)
        @RenderSection("datepicker", required: false)
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>