@model GamexService.ViewModel.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Login";
}


<div class="row">
    <div class="col-sm-12 text">
        <img src="~/Content/img/icons/logo1.png" alt="" width="120px">
        <div class="description">
            <h3>Welcome back!</h3>
            <p>It's very nice to see you again! Let's sign in and continue your experience now!</p>
        </div>
    </div>
</div>

<!-- Form đăng nhập ======================================== -->
<div class="row login-form">
    <div class="col-lg-3 col-md-2"></div>
    <!-- right FORM LOGIN -->
    <div class="col-lg-6 col-md-8 col-sm-offset-1">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessageFor(m => m.ErrorMessage)
            <br />
            <div class="wrap-input">
                @Html.TextBoxFor(m => m.Id, new
                {
                    @placeholder = "Username or Email",
                    @class = "input-element"
                })
                <span class="focus-input"></span>
                <span class="symbol-input">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Id)

            <div class="wrap-input">
                @Html.PasswordFor(m => m.Password, new
                {
                    @placeholder = "Password",
                    @class = "input-element"
                })
                <span class="focus-input"></span>
                <span class="symbol-input">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.Password)

            <div class="wrap-input checkbox-input">
                <div class="custom-checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <button class="login-button" type="submit">Login</button>
        }

    </div>

    <div class="col-lg-3 col-md-2"></div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8">
        <p class="line-through">
            <span>Or</span>
        </p>
        @Html.ActionLink("Click here to Sign up", "Register", "Home")
    </div>
    <div class="col-lg-3 col-md-2"></div>
</div>

