@model GamexService.ViewModel.ProfileViewModel
@{
    ViewBag.Title = "Profile";

    ViewBag.Profile = "active";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    @if (Model.IsSuccessful != null)
    {
        if (Model.IsSuccessful.Value)
        {
            <script type="text/javascript">
                $('#successModal').modal();
            </script>
        }
        else
        {
            <script type="text/javascript">
                $('#failModal').modal();
            </script>
        }
    }
}


<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Profile</li>
    </ol>

    <!-- Content-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-fw fa-user "></i> Profile

        </div>
        <div class="card-body">
            <!-- FORM CHỈNH SỬA: ======================================================= -->

            @using (@Html.BeginForm("UpdateProfile", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new
                        {
                           @class = "form-control form-control-sm"
                        })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new
                        {
                            @class = "form-control form-control-sm"
                        })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, new
                        {
                            @class = "form-control form-control-sm"
                        })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new
                        {
                            @class = "form-control form-control-sm"
                        })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>

                <div class="row for-input-row">
                    <div class="col-sm-6 col-lg-6">
                        <button class="btn btn-outline-success" style="float: left;">Save Changes</button>
                    </div>
                    <div class="col-sm-6 col-lg-6" style="margin: 0.375rem 0rem">
                        @Html.ActionLink("Change Password", "ChangePassword", "Account", null,new
                       {
                           @style = "float: right;"
                       })
                    </div>

                </div>
            }
            <!-- END OF FORM ========================================================== -->
        </div>
    </div>
</div>

<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-success">
                    <i class="fas fa-check"></i>
                </div>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Update successfully</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="failModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-fail">
                    <i class="fas fa-times"></i>
                </div>
                <h4 class="modal-title">Error!</h4>
            </div>
            <div class="modal-body">
                <div class="field-validation-error">@Html.ValidationSummary("")</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


