@model GamexService.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";

    ViewBag.Profile = "active";
    ViewBag.Account = "";
    ViewBag.Order = "";
    ViewBag.Watch = "";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    @if (Model != null)
    {
        if (Model.IsSuccessful != null)
        {
            if (Model.IsSuccessful.Value)
            {
                <script type="text/javascript">
                    $('#successModal').modal();
                </script>
            }
            else
            {
                <script type="text/javascript">
                    $('#error-message').html('@Model.ErrorMessage');
                    $('#failModal').modal();
                </script>
            }
        }
    }
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @Html.ActionLink("Profile", "AccountInfo", "Account")
        </li>
        <li class="breadcrumb-item active">Password</li>
    </ol>

    <!-- Content-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-fw fa-user menu-icon"></i> Change Password

        </div>
        <div class="card-body">
            <!-- FORM CHỈNH SỬA: ======================================================= -->

            @using (@Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-12 col-lg-6">
                        @Html.LabelFor(m => m.CurrentPassword)
                        @Html.PasswordFor(m => m.CurrentPassword, new
                        {
                            @class = "form-control form-control-sm"
                        })
                        @Html.ValidationMessageFor(m => m.CurrentPassword)
                    </div>
                </div>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-12 col-lg-6">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new
                        {
                            @class = "form-control form-control-sm"
                        })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>

                </div>

                <div class="row for-input-row" style="font-weight: bold">
                    <div class="col-sm-12 col-lg-6">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new
                        {
                            @class = "form-control form-control-sm"
                        })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                
                <br />
                <div class="row for-input-row">
                    <div class="col-sm-12 col-lg-6">
                        <button class="btn btn-outline-success" style="float: left;">Save Changes</button>
                    </div>
                </div>
            }
            <!-- END OF FORM ========================================================== -->
        </div>
    </div>
</div>

<div id="successModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-success">
                    <i class="fas fa-check"></i>
                </div>
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Update successfully</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="failModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box-fail">
                    <i class="fas fa-times"></i>
                </div>
                <h4 class="modal-title">Error!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Update unsuccessfully</p>
                <div class="field-validation-error" id="error-message">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
