@model string

@{
    ViewBag.Title = "Upcoming Survey";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts
{
    <script type="text/javascript">
        var id = "@Model";
    </script>
    @Scripts.Render("~/bundles/datatableCompanyManageUpcomingEvent")
}


<div class="container-fluid">
    <nav class="navbar navbar-expand-xs navbar-light" style="margin-bottom: 1rem; background-color: #e9ecef; border-radius: 0.25rem;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Exhibition Detail", "UpcomingExhibitionDetail", "Company", new { id = Model }, new { @class = "nav-link" })
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSurvey" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Survey
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSurvey">
                        @Html.ActionLink("Create Survey", "CreateSurvey", "Company", new { id = Model }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Survey", "UpcomingSurvey", "Company", new { id = Model }, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-fw fa-poll-h menu-icon" style="display: inline;"></i> Survey List

        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

